<div class="row">
  <div class="col-md-12">
    <div class="container">
      <div class="row gap-2">
        <table class="table">
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Id</th>
            <th scope="col">User Id</th>
            <th scope="col">Created At</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let order of orders">
            <td>
            </td>
            <td><p class="mb-0 pt-2">{{order.id}}</p></td>
            <td><p class="mb-0 pt-2">{{order.userId}}</p></td>
            <td><p class="mb-0 pt-2">{{order.createdAt | date}}</p></td>
            <td>
              <select class="form-select" [ngModel]="order.status" (ngModelChange)="changeStatus(order, $event)">
                <option *ngFor="let status of getStatuses()" [value]="status[1]">{{ status[0] }}</option>
              </select>
            </td>
            <td>
              <button
                type="button"
                class="btn btn-primary"
                [routerLink]="'/admin/orders/order/' + order.id">
                View Details
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<app-pagination [totalItems]="totalItems" (sizeChange)="changeSize($event)" (pageChange)="changePage($event)"></app-pagination>
