<div class="row">
  <div class="col-md-12">
    <div class="container">
      <div class="row gap-2">
        <div class="col-md-12 d-flex flex-column">
          <button class="btn btn-primary" [routerLink]="'/register'">Add User</button>
        </div>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Created At</th>
            <th scope="col">Is Active</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users">
            <td><p class="mb-0 pt-2">{{user.id}}</p></td>
            <td><p class="mb-0 pt-2">{{user.fullName}}</p></td>
            <td><p class="mb-0 pt-2">{{user.createdAt | date}}</p></td>
            <td><p class="mb-0 pt-2">{{user.isActive}}</p></td>
            <td class="d-flex gap-2">
              <button class="btn btn-outline-dark" [routerLink]="'/admin/users/user/edit/' + user.id">Edit</button>
              <button class="btn btn-danger" (click)="deleteUser(user)">Delete</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<app-pagination [totalItems]="totalItems" (sizeChange)="changeSize($event)" (pageChange)="changePage($event)"></app-pagination>
