<div class="card h-100">
  <a [routerLink]="'/products/product/' + product.id">
    <img class="card-img-top border-bottom" src="{{product.imageUrl || 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1665px-No-Image-Placeholder.svg.png'}}" alt="{{product.name}}">
  </a>
  <div class="card-body d-flex flex-column">
    <div class="row align-items-center">
      <div class="col">
        <h5 class="card-title m-0">{{product.name}}</h5>
      </div>
      <div class="col-auto">
        <p class="card-text col-auto m-0">{{selectedVariant?.sellingPrice ?? product.fromPrice | currency}}</p>
      </div>
    </div>

    <div class="row d-flex justify-content-between align-items-end mb-3">
      <app-product-stock [stock]="getStock()"/>
    </div>

    <div class="d-flex gap-1 mb-3" *ngIf="product.variants.length > 1">
      <ng-container *ngFor="let variant of product.variants; let i = index">
        <input type="radio" class="btn-check" [value]="variant.id" name="{{'prod_' + product.id}}" id="{{'prodVariant_' + variant.id}}" autocomplete="off" [(ngModel)]="variantId" (change)="updateVariant()">
        <label class="btn btn-sm btn-outline-secondary" for="{{'prodVariant_' + variant.id}}">{{ variant.name ?? i + 1 }}</label>
      </ng-container>
    </div>
    <app-product-basket class="mt-auto" [product]="product" [productVariant]="selectedVariant"/>
  </div>
</div>
